@{
    ViewData["Title"] = "Home";
}

<div class="view" id="initial-view" v-if="initialView">
    <div class="view-inner">
        <div class="view-sidebar">
            <h1>Weather For</h1>
        </div>
        <div class="view-main">
            <input id="location-input" type="text" placeholder="..." v-model="requestedLocation" v-on:keyup.enter="getWeather" />
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
        </div>
        <div class="view-main view-main-sm">
            <div class="sm error" v-if="errorMessage">
                <strong>{{ errorMessage }}</strong>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
        </div>
        <div class="view-main view-main-sm">
            <div class="sm">
                Enter a location of your choosing (<strong>city name</strong> or <strong>post/zip code</strong>) and hit <strong>Enter</strong>, to recieve current and future weather information, provided by <a href="https://openweathermap.com">OpenWeatherMap</a>.
            </div>
        </div>
    </div>
</div>

<div class="view" id="results-view" v-if="resultsView">
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon icon-lg"><i class="weather-icon wi wi-fw" v-bind:class="weather.icon"></i></div>
        </div>
        <div class="view-main view-weather">
            <div class="weather">
                <p class="temperature">{{ weather.temp.actual.celcius }}<span class="unit">&deg;C</span></p>
                <p class="type">{{ weather.type }}</p>
                <p class="desc">{{ weather.desc }}</p>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-map-marker"></i></div>
        </div>
        <div class="view-main">
            <div class="md">
                {{ weather.location }}
            </div>
            <div class="xs">
                <a href="/" v-on:click.prevent="resetUi">Incorrect location?</a>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-calendar"></i></div>
        </div>
        <div class="view-main">
            <div class="weather-future-container sm">
                <table class="weather-future" v-for="day in forecast">
                    <tr>
                        <td>{{ convertUnixTimestampToShorthandDate(day[0].dt) }}</td>
                        <td v-for="hour in day">{{ convertUnixTimestampToTime(hour.dt, true) }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td v-for="hour in day">
                            <i class="wi wi-fw" v-bind:class="getWeatherIcon(hour.weather[0])"></i>
                            {{ convertKelvinToCelcius(hour.main.temp) }}&deg;C
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-thermometer-half"></i></div>
        </div>
        <div class="view-main">
            <div class="sm">
                <table class="weather-details">
                    <tr>
                        <td>High Temp.</td>
                        <td>{{ weather.temp.high.celcius }} &deg;C</td>
                    </tr>
                    <tr>
                        <td>Low Temp.</td>
                        <td>{{ weather.temp.low.celcius }} &deg;C</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-cloud"></i></div>
        </div>
        <div class="view-main">
            <div class="sm">
                <table class="weather-details">
                    <tr>
                        <td>Visibility</td>
                        <td>{{ weather.visibility }} M</td>
                    </tr>
                    <tr>
                        <td>Wind</td>
                        <td>{{ weather.wind.speed }} m/s ({{ weather.wind.direction }})</td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td>{{ weather.humidity }} %</td>
                    </tr>
                    <tr>
                        <td>Cloud Cover</td>
                        <td>{{ weather.cloudCover }} %</td>
                    </tr>
                    <tr>
                        <td>Pressure</td>
                        <td>{{ weather.pressure }} hPa</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-sun-o"></i></div>
        </div>
        <div class="view-main">
            <div class="sm">
                <table class="weather-details">
                    <tr>
                        <td>Sunrise</td>
                        <td>{{ weather.sun.rise}}</td>
                    </tr>
                    <tr>
                        <td>Sunset</td>
                        <td>{{ weather.sun.set }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="view-inner">
        <div class="view-sidebar">
            <div class="icon"><i class="fa fa-fw fa-info"></i></div>
        </div>
        <div class="view-main">
            <div class="sm">
                Last updated at <strong>{{ weather.update }}</strong>.<br />Data provided by <a href="http://openweathermap.org">OpenWeatherMap</a>.
            </div>
        </div>
    </div>
</div>
